QPushButton {
    border : 0.5px solid #e7e7e6;
    border-radius: 3px;
    min-height: 30px;
    min-width: 30px;
    margin: 1px;
    margin-right: 2.5px;
    background: #e7e7e6;
    color: black;
}
QPushButton::hover {
    border : 0.5px solid #cbcbcb;
    color: black;
}
QPushButton::pressed, QPushButton::!enabled {
    background: #3584e4;
    border : 0.5px solid #cbcbcb;
}
CustomTitlebar {
    background: #e7e7e6;
    min-height: 50px;
}
/* no trailing space!!! */